.header {
  user-select: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: transparent;
  color: rgb(0, 0, 0, 0.9);
  font-size: 16px;
  font-weight: 500;
  padding: 0px 15px;
}

.header .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.header .icon svg {
  height: 24px;
  width: 24px;
  fill: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.header .icon:hover svg {
  height: 24px;
  width: 24px;
  fill: rgba(0, 0, 0, 0.8);
}

.header__title {
  font-size: 18px;
}

#dropshadow {
  position: absolute;
  bottom: -6px;
  left: 0px;
  height: 6px;
  width: 100%;
  box-shadow: inset 0 5px 6px -3px rgba(0, 0, 0, 0.4);
}

.icon.menu {
  visibility: hidden;
  opacity: 0;
}
